@font-face{
    font-family: 'Orbitron';
    src: local('orbitron'),
    url('../fonts/orbitron/Orbitron-Medium.ttf')format('truetype');

    
}

.nav{
    font-family: 'orbitron';
    color: #9A9A9A;
    padding-bottom: 30px;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding:  10px 10px 40px 10px;
    color: #9A9A9A;
}

.low-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgb(77, 77, 77);
    border-bottom: 1px solid rgb(77, 77, 77);
    padding: 10px;
}

.low-nav ul{
    position: relative;
    left: 850px;
}

.nav a{
    color:inherit;
    text-decoration: none;
}

.nav li:hover{
    color:#fff;
    font-weight: bold;
}

.low-nav ul{
    padding:10px;
    margin:0;
    list-style: none;
    display: flex;
}

.low-nav a{
    padding: 10px;
}

.user{
    display: flex;
    justify-content: center;
}

.user button{
    font-family: 'orbitron';
    background: none;
    color:#9A9A9A;
}
.user button:hover{
    cursor:pointer;
    color:#fff;
}

.star-logo{
    display: flex;
    position: relative;
    left: 400px;
    width: 300px;
}

body{
    background-color: #0A0B0B;
}

.ships{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-size: large;
    color: #9A9A9A;
}

.ships-title{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-size: 2.5em;
    color: #9A9A9A; 
}

.ships-main{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-size: 1.1em;
    color: #9A9A9A; 
}

.ships-secondary{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-size: 0.9em;
    color: #9A9A9A; 
}

.starships{
    display:flex;
    flex-direction: column;
}

/* HOME */

.home-promo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-land{
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-weight: 100;
    font-size: .8em;
    color: #cfcfcf; 
}

/* STARSHIP INFORMATION */

.info-wrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
}

.info-window{
    position: relative;
    background-color: #0A0B0B;
    border-radius: 5;
    padding: 15;
    box-shadow: 4px 4px 14px rgb(77, 77, 77, 0.3);
    z-index: 10;
    min-width: 320;
    border-radius: 25px;
}

.info-close{
    cursor: pointer;
    font-family: 'Orbitron';
    position: absolute;
    top:0;
    right:0;
    border-color: rgba(255, 255, 255, 0.4);
    color: aliceblue;
    background-color: transparent;
    border-radius: 25px;
}

.starship-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.starship-dets{
    display: flex;
    padding: 2em;
}

.starship-details-left{
    padding: 1em;
}

.starship-details-right{
    border-left: 1px solid #9A9A9A;
    padding: 1em;
}


/* PAGE BUTTONS */

.page-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    position: relative;
    right: 170px;
}

.page-btn{
    display: flex;
    margin: 10px;
    padding: .5em;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.4);
    color: aliceblue;
    background-color: transparent;
    border-radius: 10px;
}

.page-btns button:hover{
    background-color: #2e2e2e;
    color: rgb(255, 255, 255);
}


/* SLIDE SHOW */

.img-slide{
    max-width: 1600px;
    max-height: 653px;
	margin: 50px auto;
    overflow: hidden;
}

.contenedor-slide{
    display: flex;
    flex-wrap: nowrap;
}

.slide{
    position: relative;
    min-width: 1536px;
    max-height: 653px;
    overflow: hidden;
    transform: .3 ease all;
    z-index: 10;   
}

.content-overlay{
    display: flex;
    justify-content: flex-end;  
    position: relative;
    bottom: 600px;  
    right: 150px;
}

.content-overlay img{
    width: 700px;
    position: relative;
    right: 72px;
}

.content-overlay-2{
    display: flex;
    justify-content: flex-start;  
    position: relative;
    bottom: 600px;
    left: 150px; 
}

.content-overlay-2 img{
    width: 700px;
    position: relative;
    right: 72px;
}

.content-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title{
    width: 50px;
}


.content-btns{
    padding-top: 10px;
}

.alien-btn{
    background-color: rgb(74, 103, 230);
    border-radius: 25px;
    padding: 15px;
}

.alien-btn a{
    cursor: pointer;
    text-decoration: none;
}

.ships-btn{
    background-color: rgb(223, 143, 51);
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.ships-btn a{
    text-decoration: none;
    font-family: 'Orbitron';
    color: #fff;
    text-transform: uppercase;
}



.batch-btn{
    background-color: rgb(158, 120, 68);
    border-radius: 25px;
    padding: 15px;
}

.batch-btn a{
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}

.content-arrow{
    position: absolute;
    display: flex;
    justify-content:space-evenly;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;

}

.arrow-btn{
    cursor: pointer;
    background-color: transparent;
    color: rgb(241, 239, 239, 0.9);
    border-color: transparent;
}

/* LOG IN /// SING UP */

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Orbitron';
    color: #fff;
    text-transform: uppercase;
}

.login-component{
    position: relative;
    bottom:500px;
    background-color: rgb(00, 00, 00,0.7);
    padding: 10px 20px 10px 20px; 
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.7);
    
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Orbitron';
    color: #fff;
}

.login-form label{
    padding: 10px;
}

.login-Btn{
    background-color: rgb(201, 139, 54);
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
}


